<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>

  <div class="container-fluid bg-3 text-center">
    <h3>Inventory System (driver)</h3><br>
    <form action='/check' method='post' id="checkform">
      <label for="barcode">Barcode:</label>
      <input type="text" id="barcode" name="barcode">
      <button style="background-color: #4CAF50;color:white" type="submit">check</button>
      <button style="background-color: red;color:white" type="button" onclick="window.location=('https://forms.gle/6LZRkdZtn3GeDdEM7')">order</button>
  </form>

   <br>

   
    <div>Consumable List:
      <button style="color:rgb(10, 108, 126)"  onclick="showCL()">show</button>
      <button style="color:rgb(10, 108, 126)"  onclick="hideCL()">hide</button>
      <iframe style="display:none" id="CL" width="100%" height="2000px"
      src="http://gcesg.myqnapcloud.com/WordPress/items-order/"></iframe>
    </div>
    <br>
    <div>Machinery List:
      <button style="color:rgb(10, 108, 126)"  onclick="showML()">show</button>
      <button style="color:rgb(10, 108, 126)" onclick="hideML()">hide</button>
      <iframe style="display:none" id="ML" width="100%" height="2000px"
      src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSXNYCtKe8Nssh8iQBRKG-qSMWuivx_6n3FHUpOmiyot06khVXSrmK_s2FuZs4RHAggdHlXKkAmw-El/pubhtml?gid=2033440338&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    </div>
    <br>
    <div>Spare Part List:
      <button style="color:rgb(10, 108, 126)" onclick="showSL()">show</button>
      <button style="color:rgb(10, 108, 126)" onclick="hideSL()">hide</button>
      <iframe style="display:none" id="SL" width="100%" height="2000px"
      src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSXNYCtKe8Nssh8iQBRKG-qSMWuivx_6n3FHUpOmiyot06khVXSrmK_s2FuZs4RHAggdHlXKkAmw-El/pubhtml?gid=2129636137&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    </div>
</body>

<script>
  function showCL() {
    var iframe = document.getElementById("CL");
    var elmnt = iframe;
    elmnt.style.display = "block";
  };
  function hideCL() {
    var iframe = document.getElementById("CL");
    var elmnt = iframe;
    elmnt.style.display = "none";
  }
  function showML() {
    var iframe = document.getElementById("ML");
    var elmnt = iframe;
    elmnt.style.display = "block";
  };
  function hideML() {
    var iframe = document.getElementById("ML");
    var elmnt = iframe;
    elmnt.style.display = "none";
  }
  function showSL() {
    var iframe = document.getElementById("SL");
    var elmnt = iframe;
    elmnt.style.display = "block";
  };
  function hideSL() {
    var iframe = document.getElementById("SL");
    var elmnt = iframe;
    elmnt.style.display = "none";
  }
</script>

<% include partials/script %>

</html>